
<h1><%= @gossips.title %></h1>
<p><%= @gossips.content %></p>
<p>Créé le <%= @gossips.created_at.strftime('%d %B %Y à %H:%M:%S') %></p>

<h2>Auteur : <%= link_to @gossips.user.first_name, _path %></h2>