  <div class="container mt-4">
    <h1 class="bg-warning p-3 text-center">Bienvenue visiteur</h1>
    <h2 class="text-primary mt-4">Voici les potins de la semaine :</h2>
    <ul class="list-unstyled text-center">
      <% @gossips.each do |gossip| %>
        <li class="card my-3">
          <div class="card-body">
            <h3 class="card-title"><%= gossip.user.first_name %></h3>
            <p class="card-text"><%= gossip.title %></p>
            <a href="/public/<%= gossip.user.first_name %>" class="btn btn-primary">Page de l'auteur</a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>