<h1> Bienvenue visiteur </h1>
<h2> Voici les potins de la semaine :</h2>
<ul>
  <% @gossips.each do |gossip| %>
    <li>
      <h3><%= gossip.user.first_name %></h3>
      <p><%= gossip.title %></p>
      <p><%= link_to "Page de l'auteur", "/public/#{gossip.user.first_name}" %> 
    </li>
  <% end %>
</ul>